.fontemontserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.menu{
    margin: 0px;
    padding: 0px;
}

.black{
  color: black;
  text-decoration: none;
  transition: 0.4s; 
  margin: 0px;
  padding: 0px; 
  position: relative;
  right: 200px;  
}

.black:hover{
    opacity: 0.8;
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 10vh;
    background: aliceblue;
    border-radius: 10px;
}

.nav_list{
    list-style: none;
    display: flex;
}

.nav_list li{
    letter-spacing: 5px;
    margin-left: 50px;
}

.section_body{
    text-align: center;
    justify-content: center;
    font-size: 40px;
    position: relative;
    top: 200px;
    color:floralwhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
}

.footer_left{
    position: absolute;
    top: 150px;
}

body{
    background-image: url(./assets/img/img_index/background_index3.jpg);
    background-repeat: no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.header_logo{
    position: relative;
    right: 190px;

}

.header_login{
    list-style: none;
    position: relative;
    right: 20px;
}

.button{
    background: transparent;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: none;
    position: relative;
    top: 40px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.5s;
}

.button:hover{
    opacity: 0.7;
}

