body {
    background: url(/assets/img/img_shop/6575426-papel-de-parede-rosa-cute-natureza-floral-folha-minimalista-feminino-fundo-vetor.jpg);
    background-size:cover;
    backdrop-filter: blur(20px);


}

.shop_body {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 1.8x;

}

.shop_shirt {
    margin-top: 10px;
    margin-right: 10px;
    transition: .35s;
}

.shop_shirt:hover {
    opacity: .9;
    transform: scale(0.9);
    font-size: 50px;

}

.shirt_information {
    flex-direction: column;
    font-size: 20px;
    padding: 5px;
    transition: .35s;
    
}

.shirt_information:hover {
    font-size: 25px;
    transform: scale(1);
}

#juros::after {
    content: '| 6x de 14,63';
    font-weight: 400;
    padding: 2.5px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.shop_shirt img {
    height: 680px;
}
/*personalizacao  footer*/
a{
    text-decoration: none;
}
i{
    text-decoration: none;
    
}
footer{
    background: black;
    border-radius: 5px;
}
footer .container{
    display: flex;
    color: white;
    margin-bottom: 0;
   
}
footer.container ul{
    width: 25%;
}
footer .container .redes_sociais i{
margin-right: 16px;

}
footer .container ul > p{
    margin-bottom: 10px;
}
footer .container li{
    margin: 5px 0;
}
footer .container a{
    color: white;
}


